* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: var(--color-dark-a);
  background-size: cover;
}
#root {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

:root {
  //--color-red: #ff0141; /*#a51427;*/
  --color-ternary: #01c4ff;
  --color-ternary-b: #006eef;
  --color-primary: #fd1824;
  --color-white-a: #fefefe;
  --color-white-b: #f5f5f5;
  --color-gray-a: #7a7a7a;
  --color-gray-b: #414141;
  --color-dark-b: #1c1c1c;
  --color-dark-a: #181818;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--color-white-a);
  background-color: var(--color-dark-a);
}

.background-span {
  font-family: 'Roboto';
  color: var(--color-dark-b);
  font-size: 18.75rem;
  font-weight: 900;
  width: 370px;
  margin-top: -130px;
  display: flex;
}

.dark {
  --color-red: #ff0141;
  --color-primary: #01c4ff;
  --color-white: #29292e;
  --color-gray: #101010;
  --color-gray-1: #737373;
  --color-dark-1: #adadad;
  --color-dark: #e6e7e8;
}
// .home-img {
//   border-radius: 50%;
//   width: 180px;
//   height: 180px;
//   border: 3px solid var(--color-dark);
// }

// .profile {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   background-color: var(--color-white);
//   color: var(--color-dark);
// }

// header.header {
//   display: flex;
//   justify-content: space-between;
//   padding: 1rem 1rem;
//   width: 100%;

//   .navbar-toggler {
//     display: none;
//     width: 50px;
//     height: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: transparent;
//     border: 2px solid var(--color-gray-1);
//     border-radius: 6px;
//     svg {
//       stroke: var(--color-gray-1);
//     }
//     &:hover {
//       cursor: pointer;
//       border-color: var(--color-dark-1);
//       svg {
//         stroke: var(--color-dark-1);
//       }
//     }
//   }

//   .navbar-collapse {
//     display: flex;
//     ul.navbar-nav {
//       gap: 12px;
//       list-style: none;
//       display: flex;
//       flex-direction: row;
//       align-items: center;

//       li.nav-item {
//         .nav-link {
//           text-decoration: none;
//           color: var(--color-gray-1);
//           font-size: 20px;
//           font-weight: 400;
//           text-transform: uppercase;
//         }
//       }
//     }
//   }

//   .language {
//     display: flex;
//     flex-direction: row;
//     list-style: none;
//     gap: 14px;
//   }
// }

// .home {
//   padding: 7% 0;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   img {
//     background-color: #e6e7e8;
//   }
//   p.text-center {
//     padding-top: 15px;
//     text-align: center;
//     font-size: 20px;
//     font-weight: 500;
//   }
// }
// span.text-a {
//   color: var(--color-red);
//   font-size: 35px;
// }
// footer {
//   position: absolute;
//   bottom: 0;
//   text-align: center;
//   width: 100%;
//   height: 40px;
// }
