.social-media {
  padding-top:50px;
  gap: 26px;
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  svg > path {
    fill: var(--color-white-a);
  }
  :hover {
    transition: 0.2s;
    svg > path {
      fill: var(--color-primary);
    }
  }
}
